{% extends 'base.html.twig' %}


{% block title %}
    SK Systems - Développement web & solutions digitales
{% endblock %}



{% block body %}


    <section class="hero-section">


        <div class="container">


            <div class="row align-items-center">


                <div class="col-lg-7">


<span class="badge bg-primary mb-3">
Développement web sur mesure
</span>



                    <h1 class="display-3 fw-bold">

                        Créons des solutions digitales

                        <span class="text-primary">
performantes
</span>

                    </h1>



                    <p class="lead mt-4">

                        SK Systems accompagne les entreprises
                        dans la création de sites web,
                        applications métiers et MVP.

                    </p>



                    <div class="mt-4">


                        <a href="#services"
                           class="btn btn-primary btn-lg me-3">

                            Mes services

                        </a>



                        <a href="#mvp"
                           class="btn btn-outline-light btn-lg">

                            Découvrir les MVP

                        </a>


                    </div>



                </div>





                <div class="col-lg-5 mt-5 mt-lg-0">


                    <div class="hero-card">


                        <div class="code-window">


                            <div class="code-header">

                                <span></span>
                                <span></span>
                                <span></span>

                            </div>



                            <pre>

<span>const</span> company = {

 stack: [
  "Symfony",
  "PHP",
  "JavaScript"
 ],

 mission:
 "Créer des solutions digitales"

};


</pre>


                        </div>


                    </div>


                </div>


            </div>


        </div>


    </section>





    <section id="services" class="py-5">


        <div class="container">


            <div class="text-center mb-5">

                <h2 class="fw-bold">
                    Mes services
                </h2>

                <p class="text-muted">
                    Des solutions adaptées à votre projet.
                </p>

            </div>



            <div class="row g-4">


                <div class="col-md-4">

                    <div class="service-card">


                        <div class="icon">
                            🌐
                        </div>


                        <h4>
                            Sites web
                        </h4>


                        <p>
                            Création de sites vitrines modernes,
                            rapides et optimisés.
                        </p>


                    </div>

                </div>




                <div class="col-md-4">

                    <div class="service-card">


                        <div class="icon">
                            ⚙️
                        </div>


                        <h4>
                            Applications web
                        </h4>


                        <p>
                            Applications métiers Symfony
                            sur mesure.
                        </p>


                    </div>

                </div>




                <div class="col-md-4">

                    <div class="service-card">


                        <div class="icon">
                            🚀
                        </div>


                        <h4>
                            MVP
                        </h4>


                        <p>
                            Transformez votre idée en produit
                            rapidement.
                        </p>


                    </div>

                </div>


            </div>


        </div>


    </section>





    <section id="mvp" class="mvp-section py-5">


        <div class="container">


            <div class="text-center mb-5">

                <h2 class="fw-bold">
                    Mes offres MVP
                </h2>

            </div>



            <div class="row g-4">


                <div class="col-md-4">

                    <div class="price-card">


                        <h4>
                            Starter
                        </h4>


                        <h2>
                            990€
                        </h2>


                        <ul>

                            <li>✔ Site professionnel</li>
                            <li>✔ Design responsive</li>
                            <li>✔ Mise en ligne</li>

                        </ul>


                        <a class="btn btn-primary w-100">
                            Commander
                        </a>


                    </div>

                </div>




                <div class="col-md-4">

                    <div class="price-card featured">


<span class="popular">
Populaire
</span>


                        <h4>
                            Business
                        </h4>


                        <h2>
                            2490€
                        </h2>


                        <ul>

                            <li>✔ Application web</li>
                            <li>✔ Base de données</li>
                            <li>✔ Paiement en ligne</li>

                        </ul>


                        <a class="btn btn-primary w-100">
                            Commander
                        </a>


                    </div>

                </div>




                <div class="col-md-4">

                    <div class="price-card">


                        <h4>
                            Sur mesure
                        </h4>


                        <h2>
                            Devis
                        </h2>


                        <ul>

                            <li>✔ Architecture dédiée</li>
                            <li>✔ Développement complet</li>

                        </ul>


                        <a class="btn btn-outline-primary w-100">
                            Contact
                        </a>


                    </div>

                </div>


            </div>


        </div>


    </section>




    <section class="py-5 text-center">

        <div class="container">


            <h2 class="fw-bold">
                Pourquoi SK Systems ?
            </h2>


            <p class="lead text-muted">

                Un développement basé sur la qualité,
                la performance et la simplicité.

            </p>


        </div>

    </section>


{% endblock %}
