<nav class="navbar navbar-expand-lg navbar-dark site-navbar fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('images/logos/sk-logo-sombre.png') }}" alt="SK Systems" height="44">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Ouvrir le menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">

            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tarifs">Tarifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pourquoi">Pourquoi nous</a>
                </li>
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-primary btn-sm px-3" href="#contact">Discutons-en</a>
                </li>
            </ul>

        </div>

    </div>
</nav>
